

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
    background-color: beige;
}
#container {
    margin: 0 5%;
    padding: 0;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    height: 90vh;
    /* max-width: 100%; */
    position: relative;
}

/* .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */

.sub-div {
    flex-grow: 1;
    position: absolute;
    width: 80px;
    height: 40px;
    /* height: 100px; */
    box-sizing: border-box;
    border: 1px solid black;
    /* height: 30px; */
}




@keyframes right {
    
}

@keyframes left {
    
}

@keyframes down {
    
}

@keyframes up {
    
}