
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    background-color: beige;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    box-sizing: border-box;
    width: 1200px;
    height: 600px;
    /* border: 1px solid #333; */
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    #grid {
        width: 800px;
        height: 600px;
    }    
}

@media screen and (max-width: 800px) {
    #grid {
        width: 400px;
        height: 600px;
    }    
}

.buttons-container{
    position: absolute;
    top: 8px;
    height: 44px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #464646;
}


.GOAL {
    background-color:red;
}

.START {
    background-color: green;
}

.BLOQUED {
    background-color: #464646;
}


.options  {
    background-color: transparent;
    border: unset;
    color: #fff;
    padding: 4px;
    box-shadow: 0px 0px 0px 3px rgb(255 255 255 / 37%);
}

.highlight {
    background-color: #8a8a8a;
}