
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    background-color: beige;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 1200px;
    height: 600px;
    border: 1px solid #333;
    background-color: #eee;
}